<div style="height: 735px;" class="container ">
    <div class="row ">
        <div class="col text-center">
            <h1 style="font-size: 80px;" >404</h1>
            <img height="400px" src="https://robotkala.com/images/site/Notfound.gif" alt=""><br>
            <h4 class="fw-bolder">Look like you are lost</h4>
            <p class="fw-bolder">page you are looking for is not available</p>
            <button routerLink="/" class="btn btn-success mt-2 mb-5">Go to home</button>
        </div>
    </div>
</div>

